*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:root {
    --Purple-white: hsl(254, 88%, 90%);
    --Purple: hsl(256, 67%, 59%);
    --Yellow-white: hsl(31, 66%, 93%);
    --Yellow: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.bento-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 16px;
    max-width: 800px;
    max-height: 800px;
    background-color: aliceblue;
    padding: 20px;
}

.box{
    /* width: 200px;
    height: 200px;
    overflow: hidden; */
    padding: 10px;
    border-radius: 10px;
}

.box1 {
    background-color: var(--Yellow-white);
}
.box2 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: var(--Purple);
}

.box3 {
    grid-column: span 1;
    grid-row: span 2;
    background-color: var(--Purple-white);
}

.box4 {
    grid-column: span 1;
    grid-row: span 2;
    background-color: var(--Yellow);
}

.box5 {
    background-color: var(--White);

}

.box6 {
    background-color: var(--Yellow);
}

.box7 {
    background-color: var(--White);
}

.box8 {
    background-color: var(--Purple);
    grid-column: span 2;
    grid-row: span 1;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.attribution {
    position: fixed;
    bottom: 0;
    font-size: 11px;
    text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%);
 }