*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:root {
    --Purple-white: hsl(254, 88%, 90%);
    --Purple: hsl(256, 67%, 59%);
    --Yellow-white: hsl(31, 66%, 93%);
    --Yellow: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.bento-box-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 13rem 13rem 13rem;
    grid-template-areas: 
        'column1 column2 column3'
        'column1 column2 column3'
        'column1 column4 column4'
    ;
    max-width: 60rem;
    margin-inline: auto;
    gap: 1rem;
}

.bento-box-container > *, .inside-element {
    display: grid;
    gap: 1rem;
}

.inside-element {
    grid-template-columns: 1fr 1fr;
}

.bento-box-item--element{
    padding: 10px;
    border-radius: 10px;
}

.column-1 {
    grid-area: column1;
}

.column-2 {
    grid-area: column2;
}

.column-3 {
    grid-area: column3;
}

.column-4 {
    grid-area: column4;
    grid-template-columns: .95fr 2fr;
}

.box1 {
    background-color: var(--Yellow-white);
}
.box2 {
    background-color: var(--Purple);
}
.box3 {
    background-color: var(--Purple-white);
}
.box4 {
    background-color: var(--Yellow);
}
.box5 {
    background-color: var(--White);
}
.box6 {
    background-color: var(--Yellow);
}
.box7 {
    background-color: var(--White);
}
.box8 {
    background-color: var(--Purple);
}

img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.attribution {
    position: fixed;
    bottom: 0;
    font-size: 11px;
    text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%);
 }