
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:root {
    --Purple-white: hsl(268, 91%, 83%);
    --Purple: hsl(270, 95%, 59%);
    --Yellow-white: hsl(31, 66%, 93%);
    --Yellow: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

h2 {
    font-family: 'DM Sans', serif;
    font-weight: 500; 
    line-height: 1; 
    margin: 0; 
}

.bento-box-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 13rem 13rem 13rem;
    grid-template-areas: 
        'col1 col2 col3'
        'col1 col2 col3'
        'col1 col4 col4'
    ;
    max-width: 52rem;
    margin-inline: auto;
    gap: 1rem;
}

.bento-box-container > *, .inside-element {
    display: grid;
    gap: 1rem;
}

.inside-element {
    grid-template-columns: 1fr 1fr;
}

.bento-box-item--element{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.column-1 {
    grid-area: col1;
}

.column-2 {
    grid-area: col2;
}

.column-3 {
    grid-area: col3;
}

.column-4 {
    grid-area: col4;
    grid-template-columns: .95fr 2fr;
}

/* COLUNA1 */
.box1 {
    background-color: var(--Yellow-white);
    padding: 3em 1.5em 2em 1.5em;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 > img {
    width: 100%;
    margin-top: 1em;
}
.quicker {
    color: var(--Purple);
}
.box4 {
    background-color: var(--Yellow);
    padding: 1em 0.6em 0 1em;
    font-size: 18px;

}

.box4  img {
    width: 95%;
    margin-top: 1em;
}

/* COLUNA2 */
.box2 {
    background-color: var(--Purple);
    color: var(--White);
    text-align: center;
    font-size: 28px;
    padding: 1.5em 0.6em 1.5em 0.6em;
    justify-content: space-evenly;
}
.box2 span {
    color: var(--Yellow);
}
.box2 img {
    width: 35%;
    height: auto;
    margin-top: 20px;
}
.box2 figcaption {
    font-size: 14px;
}

.box5 {
    background-color: var(--White);
    overflow: hidden;
    height: 11.5em;
}

.box5 img {
    width: 140%;
    padding: 1em;
}

.box5 h2 {
    line-height: .8;
}
.box6 {
    background-color: var(--Yellow);
    padding: 1em;
    height: 11.5em;
    /* justify-content: space-between; */
}

.box6 img {
    width: 100%;
    overflow: hidden;
}

.box6 h2 {
    line-height: .8;
}

/* COLUNA3 */

.box3 {
    background-color: var(--Purple-white);
    padding: 1.5em;
    overflow: hidden;
}
.box3 img {
    width: 180%;
    height: auto;
    margin: 1em 0 0.8em 0;
}
.box3 figcaption {
    line-height: .8;
}


.box7 {
    background-color: var(--White);
}
.box8 {
    background-color: var(--Purple);
    flex-direction: row;
    align-items: center;
}

img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.attribution {
    position: fixed;
    bottom: 0;
    font-size: 11px;
    text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%);
 }